body {
    background: rgb(235, 233, 233);
}

.header {
    height: auto;
    background-image: linear-gradient(rgba(210, 100, 0, 0.8), rgba(250, 0, 0, 0.5)), url(../assets/images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #efefef;
    padding-top: 50px;
    padding-bottom: 50px;
}

.name {
    color: #000000 !important;
}

.desc {
    color: #000000 !important;
}

.list-inline-item a {
    background-color: rgb(40, 40, 61) !important;
}

.list-inline-item a:hover {
    background: #007BFF !important;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 10px;
}